# Logs
.pnp.*
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/unplugged
.yarn/cache
# yarn v2

.vscode-test
# Stores VSCode versions used for testing VSCode extensions

.tern-port
# TernJS port file

.dynamodb/
# DynamoDB Local files

.fusebox/
# FuseBox cache

.serverless/
# Serverless directories

.vuepress/dist
# vuepress build output

# public
# https://nextjs.org/blog/next-9-1#public-directory-support
# Comment in the public line in if your project uses Gatsby and not Next.js
.cache/
# Gatsby.js cache

dist
.nuxt
# Nuxt.js cache

out
.next
# Next.js cache

.parcel-cache
.cache
# parcel-bundler cache (https://parceljs.org/)

.env.production
.env.test
.env
# dotenv environment variables file

.yarn-integrity
# Yarn Integrity file

*.tgz
# Output of 'npm pack'

.node_repl_history
# Optional REPL history

.rts2_cache_umd/
.rts2_cache_es/
.rts2_cache_cjs/
.rpt2_cache/
# Microbundle cache

.eslintcache
# Optional eslint cache

.npm
# Optional npm cache directory

*.tsbuildinfo
# TypeScript cache

typings/
# TypeScript v1 declaration files

jspm_packages/
node_modules/
# Dependency directories

build/Release
# Compiled binary addons (https://nodejs.org/api/addons.html)

.lock-wscript
# node-waf configuration

bower_components
# Bower dependency directory (https://bower.io/)

.grunt
# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)

.nyc_output
# nyc test coverage

*.lcov
coverage
# Coverage directory used by tools like istanbul

lib-cov
# Directory for instrumented libs generated by jscoverage/JSCover

*.pid.lock
*.seed
*.pid
pids
# Runtime data

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
# Diagnostic reports (https://nodejs.org/api/report.html)

lerna-debug.log*
pnpm-debug.log*
yarn-error.log*
yarn-debug.log*
npm-debug.log*
*.log
logs

