
# Node/Next
node_modules
.next
out
.env*
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Editor/OS
.DS_Store
.idea/
.vscode/
# Prisma
/apps/web/prisma/dev.db*
/apps/web/prisma/sqlite.db*

# Backend local settings
**/application-local.yml
**/target/*
.venv/*
